language: cpp
compiler:
    - gcc
before_install:
    - wget https://raw.githubusercontent.com/yast/yast-devtools/master/travis-tools/travis_setup.sh
    - sh ./travis_setup.sh -p "docbook-xsl xsltproc yast2-core-dev yast2-devtools libxcrypt-dev libperl-dev yast2-ycp-ui-bindings-dev yast2"
script:
    - make -f Makefile.cvs
    - make -j 4
    - sudo make install
    - make check

